on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'
  schedule:
    - cron: '59 23 * * *'

jobs:
  unittests:
    name: conda (${{ matrix.os }}, ${{ matrix.environment-file }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      matrix:
        os: ['macos-latest', 'ubuntu-latest', 'windows-latest']
        environment-file: [ci/36-GIT.yaml, ci/36-PYPI.yaml, ci/37-GIT.yaml, ci/37-PYPI.yaml, ci/38-GIT.yaml, ci/38-PYPI.yaml]
    steps:
      - uses: actions/checkout@v2.3.1
      - uses: goanpeca/setup-miniconda@v1
        with:
           miniconda-version: 'latest'
           auto-update-conda: true
           auto-activate-base: false
           environment-file: ${{ matrix.environment-file }}
           activate-environment: test
      - shell: bash -l {0}
        run: conda info --all
      - shell: bash -l {0}
        run: conda list
      - shell: bash -l {0}
        run: cp utils/matplotlibrc .
      - shell: bash -l {0}
        run: python -c 'import libpysal; libpysal.examples.load_example("Guerry"); libpysal.examples.load_example("Rio Grande do Sul")'
      - shell: bash -l {0}
        run: py.test -v splot --cov=splot --doctest-modules --cov-config=.coveragerc --cov-report=xml
      - name: codecov (${{ matrix.os }}, ${{ matrix.environment-file }})
        uses: codecov/codecov-action@v1.0.12
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          name: splot-codecov
 
